body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#graphedit {
	overflow: hidden;
	position: absolute;
}
#menu-icon {
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  position:absolute;
  background-color:rgba(192,192,192,0.3);
}
